.border-box {
    border-width: 3px;
    border-style: solid;
    border-color: $widget-border-color;
    background-color: $sidebar-widget-bg-color;
    border-radius: $widget-border-radius; 
    margin: $sidebar-widget-margins;
}

.cal {
    color: $light-blue;
    padding: 5px;
    padding-bottom: 1px;
}

.extra-bottom-margin {
    margin-bottom: 20px;
}
