* {
  min-height: 0;
  font-family: Lexend, "Font Awesome 6 Free Solid";
  font-size: 16px;
  font-weight: 500;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 8px;
  background-color: #181825;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#network,
#cpu,
#battery,
#tray,
#memory,
#window {
  min-height: 0;
  padding: 2px 10px;
  border-radius: 8px;
  margin: 4px 4px;
  background-color: #89b4fa;
  color: #181825;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#custom-power {
  color: #181825;
  padding-right: 5px;
  font-size: 14px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

tooltip {
  border-radius: 8px;
}
